/* Fuente letra del titulo */
.navbar {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*margen entre los elementos del header*/
.nav-link {
  display: flex;
}

.columna-personalizada {
  margin-bottom: 20px;
  margin: 0;
  padding: 0;
  
}

.carousel-inner {
  background-color: #000; 
}

.carousel-inner .carousel-item {
  transition: transform 0.4s ease; 
}

.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  transform: translateX(100%); 
}

.columna-personalizada h3 {
  font-size: 20px;
  font-weight: bold;
}

.columna-personalizada p {
  font-size: 16px;
}

.carousel-inner .carousel-item img {
  width: 600px; /* ancho */
  height: 500px; /* altura */
  object-fit: cover; /* ajuste */
  transform: scale(1.0); /* tamaño */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.8); /* fondo para poner las letras arriba del carrusel */
  color: #fff; /* color texto */
  padding: 10px; /* espaciado */
}


.carousel-container h1 /* Lugar donde se ubica el texto de en medio con fondo negro con opacidad*/
{   position: absolute;
    top:0px; /* posicionar el texto más abajo */
    width: 100%;
    text-align: center;
    z-index: 2;
    font-family:Arial, Helvetica, sans-serif;
    color: #ffcb57;
    background-color: rgba(0, 0, 0, 0.6);
  }


.carousel-item img{ /*tamaño imagenes del carrusel*/
  height:750px;
}

.centrado-iconos {  /*iconos arriba de cada columna*/
    display: block;
    margin: 0 auto;
}
  
/* posicionamiento y centrado del footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


  