/* Estilos para la tarjeta de Pokémon */
.tarjeta-pokemon {
    background-color: #e8e8e8;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
/* diseño de las tarjetas */
  .tarjeta-pokemon img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* ordenamiento de las tarjetas */
  #pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  